<section class="hero">
  <div class="hero-content">
    <p class="tagline">Lorem ipsum dolor sit</p>
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
    <p class="subtitle">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A et sequi
      pariatur perferendis itaque voluptas veniam, quos dolor ullam
    </p>
    <div class="hero-buttons">
      <button class="btn btn-primary">Get Started</button>
      <button class="btn btn-outline">Learn More</button>
    </div>
  </div>
  <div class="hero-image">
    <img src="photo.jpg" alt="Hero Image" />
  </div>
</section>
