/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

/*HEADER*/
.header {
  background-color: #fff;
  padding: 1rem 0;
  border-bottom: 1px solid #f1f1f1;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  font-weight: 700;
  font-size: 1.4rem;
  color: #c2005e;
}
.logo span {
  color: #222;
}
.nav {
  display: none;
}
.nav a {
  color: #555;
  text-decoration: none;
  margin: 0 0.8rem;
  font-weight: 500;
  transform: 0.3s;
}
.nav a:hover {
  color: #c2005e;
}
.btn {
  border: none;
  padding: 0.6rem 1.3rem;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn-primary {
  background-color: #c2005e;
  color: #fff;
}
.btn-primary:hover {
  background-color: #a1004f;
}
.btn-outline {
  background-color: transparent;
  color: #c2005e;
  border: 1.5px solid #c2005e;
}
.btn-outline:hover {
  background-color: #c2005e;
  color: #fff;
}

/* Hero Section*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 1.2rem;
}
.hero-content {
  max-width: 600px;
}
.hero .tagline {
  background-color: #ffe3ef;
  color: #c2005e;
  display: inline-block;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
}
.hero h1 {
  font-size: 2rem;
  color: #c2005e;
  margin: 1rem 0;
}
.hero .subtitle {
  color: #555;
  margin-bottom: 1.5rem;
}
.hero-buttons .btn {
  margin: 0.4rem;
}
.hero-image {
  margin-top: 2rem;
  margin-right: 2rem;
  max-width: 600px;
}
/* Feature  Section*/
.features {
  padding: 3rem 1.5rem;
  background-color: #fff5f8;
  text-align: center;
}
.section-tag {
  color: #c2005e;
  background-color: #ffe3ef;
  display: inline-block;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.section-header h2 {
  color: #c2005e;
  margin-bottom: 0.5rem;
}
.section-subtext {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.feature-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  text-align: left;
}
.feature-card h3 {
  color: #c2005e;
  margin-bottom: 0.5rem;
}

/* Footer Section*/
.footer {
  background-color: #c2005e;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  font-size: 0.9rem;
}

/* Media Queries*/
@media (min-width: 768px) {
  body {
    width: 100%;
  }
  .nav {
    display: flex;
  }
  .hero {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }
  .hero-image {
    flex: 1;
    width: 80%;
  }
  .hero-content {
    flex: 1;
    padding-right: 2rem;
  }
  .feature-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer {
    width: 100%;
  }
}
